
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  height: 100vh;

  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
    background-color: #555;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 40px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #af3f3f;
}
footer {
    text-align: center;
    margin-top: 20px; /* Adicione margem superior para separar o footer do conteúdo acima */
}

main {
min-height:500px;
}

.conteudo{
    width: 40%;
    background: #555;
    margin: auto;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0.5 0.5 rgba(109, 13, 13, 0.267);
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}