<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{titulo}}</title>
  <link rel="shortcut icon" href=".\static\img\IconeEco.svg" type="image/x-icon">
  <link rel="stylesheet" href=".\static\css\estilo.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <script type="text/javascript">
    $(document).ready(function () {
      $('#telefone').mask('(00) 00000-0000');
      $('#cpf').mask('000.000.000-00');
      $('#cnpj').mask('99.999.999/9999-99');
    });
  </script>
</head>
<body>
<header class="header-top">
  <span class="material-symbols-outlined" id="menu-mobile" onclick="activeMenu()">menu</span>
  <section class="section-header">
      <a href="/"> <img class="logo-header" src=".\static\img\LogoEco2.svg" alt="Logo Ecolink"></a>
  </section>

  <nav class="nav-header">
      <ul class="menu" id="menu">
          <li><a href="/ecopainel">EcoPainel</a></li>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/contatos">Contato</a></li>
          <li><a class="user" href="/login">Login <span class="material-symbols-outlined">login</span></a>
          </li>
      </ul>
  </nav>        
</header>
{% if current_user.is_authenticated %}
<section class="bem-vindo">
  <p>Seja bem vindo, <span>{{ current_user.nome }}</span></p> <a class="dropdown-item" href="/sair">Sair</a>
</section>

{% endif %}


  <div class="container mt-4">
    {% block conteudo %}
    {% endblock %}
  </div>

  <footer class="footer-bottom">
    <article class="social-article">
        <header class="social-header-article">
            <ul class="menu-footer">
                <li><a href="sobre">Sobre nós</a></li>
                <li><a href="contatos">Fale conosco</a></li>
                <li><a href="faq">Perguntas</a></li>
                <li>Email</li>
            </ul>
        </header>

        <section class="social-section-article">
            <a href="https://www.instagram.com/" target="_blank">
                <div class="socialA"></div>
            </a>
            <a href="https://www.linkedin.com/" target="_blank">
                <div class="socialB"></div>
            </a>
            <a href="https://web.whatsapp.com/" target="_blank">
                <div class="socialC"></div>
            </a>
        </section>

        <section class="social-section-article">
            <p>
                © 2023 Ecolink - Todos os direitos reservados.
            </p>
        </section>
    </article>
</footer>
<script>

    function ajustarMenu() {
        if (window.innerWidth > 890) {
            menu.style.display = "flex";
        } else {
            menu.style.display = "none";
        }
    }

    function activeMenu() {
        if (menu.style.display == "flex") {
            menu.style.display = "none";
        }
        else {
            menu.style.display = "flex";
        }
    }

    window.addEventListener('load', ajustarMenu);
    window.addEventListener('resize', ajustarMenu);
</script>

</body>

</html>