{% extends "base.html" %}

{% block content %}

<body class="text-center">
    <div class="conteudo">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for messagem in messages %}
          <div class="alert alert-success" role="alert">
                {{ messagem }}
          </div>
           
          {% endfor %}
        {% endif %}
        {% endwith %}
        <form class="form-signin" method="post">
            {{ cadastro.csrf_token }}
            <h1 class="h3 mb-3 font-weight-normal">Faça seu Cadastro</h1>
            
            <label for="inputNome" class="sr-only">Digite Seu nome:</label>
            {{ cadastro.name(class="form-control", placeholder="Digite seu nome aqui.") }}
            
            <label for="inputEmail" class="sr-only">Endereço de email</label>
            {{ cadastro.email(class="form-control", placeholder="Digite seu e-mail aqui.") }}
            
            <label for="inputPassword" class="sr-only">Digite sua senha</label>
            {{ cadastro.password(class="form-control", placeholder="Digite sua senha aqui.") }}
            
            <label for="Telefone" class="sr-only">Digite seu telefone</label>
            {{ cadastro.telefone(class="form-control", placeholder="Digite seu telefone aqui.") }}
            
            <label for="CPF" class="sr-only">Digite seu CPF</label>
            {{ cadastro.cpf(class="form-control", placeholder="Digite seu CPF aqui.") }}
            
            <label for="Rua" class="sr-only">Digite sua rua</label>
            {{ cadastro.rua(class="form-control", placeholder="Digite sua rua aqui.") }}
            
            <label for="Numero" class="sr-only">Digite o numero da residencia</label>
            {{ cadastro.numero(class="form-control", placeholder="Digite o numero aqui.") }}
            
            <label for="Bairro" class="sr-only">Digite seu bairro</label>
            {{ cadastro.bairro(class="form-control", placeholder="Digite seu bairro aqui.") }}
            
            <label for="Cidade" class="sr-only">Digite sua cidade</label>
            {{ cadastro.cidade(class="form-control", placeholder="Digite sua cidade aqui.") }}
            
            <label for="UF" class="sr-only">Digite sua UF</label>
            {{ cadastro.uf(class="form-control", placeholder="Digite sua UF aqui.") }}
            
            <label for="cep" class="sr-only">Digite seu cep</label>
            {{ cadastro.cep(class="form-control", placeholder="Digite seu cep aqui.") }}
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        </form>
        
    </div>
</body>
{% endblock %}