{% extends 'base.html' %}
{% block content %}


<div class="conteudo">
    <h1 class="mb-4">Entre em Contato</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for messagem in messages %}
       {{ messagem }}
      {% endfor %}
    {% endif %}
    {% endwith %}
    {% if dados_formulario %}
        <p> Dados do Formulario</p>
        <p> Nome : {{dados_formulario.name}}</p>
        <p> email : {{dados_formulario.email}}</p>
        <p> message : {{dados_formulario.message}}</p>
        {% endif %}

        <form action="/contact" method="post">
            {{formulario.csrf_token}}
                <label for="name">Nome:</label>
                {{formulario.name}}
                <label for="name">email:</label>
                {{formulario.email}}
                <label for="message">Mensagem:</label>
                {{formulario.message}}
            {{formulario.enviar}}
        </form>  
<p>{{name}}</p> 
</div>
{% endblock %}