{% extends 'base.html' %}

{% block conteudo %}
<main class="main-base">
    <article class="contato">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for mensagem in messages %}
            <div class="alert alert-success" role="alert">
                {{ mensagem }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
            <form "{{ url_for('contatos') }}" method="post">
                {{ formulario.csrf_token }}
                <h2 class="titulo-form">Fale Conosco</h2>
                    <label class="texto-label" for="nome">Nome:</label>
                    {{ formulario.nome(class="form-control", placeholder="Digite aqui o seu nome") }}

                    <label class="texto-label" for="email">Email:</label>
                    {{ formulario.email(class="form-control", placeholder="name@example.com") }}

                    <label class="texto-label" for="telefone">Telefone:</label>
                    {{ formulario.telefone(class="form-control", placeholder="Digite aqui seu telefone")}}
                    <label class="texto-label" for="descricao">Mensagem:</label>
                    {{ formulario.descricao(class="form-control", rows="3", placeholder="Digite sua mensagem") }}

                {{ formulario.enviar(class="botao-entrar") }}
            </form>
        </div>
    </div>
</main>
{% endblock %}
