{% extends 'base.html' %}
{% block content %}


<div class="conteudo">
    <h1 class="mb-4">Entre em Contato</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for messagem in messages %}
      <div class="alert alert-success" role="alert">
            {{ messagem }}
      </div>
       
      {% endfor %}
    {% endif %}
    {% endwith %}
        <form action="/contact" method="post">
            {{formulario.csrf_token}}
                <label for="name">Nome:</label>
                {{formulario.name(class="form-control", placeholder="Digite seu nome aqui.")}}
                <label for="name">email:</label>
                {{formulario.email(class="form-control", placeholder="Digite seu e-mail aqui.")}}
                <label for="message">Mensagem:</label>
                {{formulario.message(class="form-control", rows="3", placeholder="Digite sua mensagem aqui.")}}
            {{formulario.enviar(class="btn btn-primary")}}
        </form>  
<p>{{name}}</p> 
</div>
{% endblock %}