{% extends 'base.html' %}
{% block content %}


<main>
    <div class="conteudo" class="row">
    <h2>Editar Perfil</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for messagem in messages %}
          <div class="alert alert-success" role="alert">
                {{ messagem }}
          </div>
           
          {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="" method="post">
            <div class="form-group">
                <label for="name">Nome</label>
                <input class="form-control" id="name" name="name" value="{{ session['name'] }}" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ session['email'] }}" required>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="telefone" class="form-control" id="telefone" name="telefone" value="{{ session['telefone'] }}"
                    required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" value=""
                    placeholder="Digite uma nova senha, se desejar">
            </div>
            
            <!-- Campos de CPF -->
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" id="cpf" name="cpf" value="{{ session['cpf'] }}" required>
            </div>
            
            <!-- Campos de Endereço -->
            <div class="form-group">
                <label for="rua">Rua</label>
                <input type="text" class="form-control" id="rua" name="rua" value="{{ session['rua'] }}" required>
            </div>
            <div class="form-group">
                <label for="numero">Número</label>
                <input type="text" class="form-control" id="numero" name="numero" value="{{ session['numero'] }}" required>
            </div>
            <div class="form-group">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" id="bairro" name="bairro" value="{{ session['bairro'] }}" required>
            </div>
            <div class="form-group">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade" name="cidade" value="{{ session['cidade'] }}" required>
            </div>
            <div class="form-group">
                <label for="uf">UF</label>
                <input type="text" class="form-control" id="uf" name="uf" value="{{ session['uf'] }}" required>
            </div>
            <div class="form-group">
                <label for="cep">CEP</label>
                <input type="text" class="form-control" id="cep" name="cep" value="{{ session['cep'] }}" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>
        
    </div>
</main>
{% endblock %}