{% extends 'base.html' %}

{% block conteudo %}
<main class="main-base">
  <figure class="banner-main">
      <img src=".\static\img\EcoLinkBanner.svg" alt="Dois jovens colocando lixo no local correto para reclicar.">
  </figure>
  <article class="article-main">
      <header class="header-article">
          <img src=".\static\img\LogoEco1.svg" alt="" width="100%">
      </header>
      <section class="section-article">
          <p> Bem-vindo ao Ecolink, onde a ação se transforma em reciclagem . Estamos comprometidos em promover um
              futuro mais sustentável e saudável para o nosso planeta, e você pode fazer parte disso.
          </p>
      </section>
      <footer class="footer-article">
          <a href="login"><button class="button-footer-article">Login</button> </a>
      </footer>
  </article>
  <article class="parceiros">
      <header>
          <h1>Nossos Parceiros</h1>
      </header>
      <section class="parceiro-A"></section>
      <section class="parceiro-B"></section>
      <section class="parceiro-C"></section>
  </article>
</main>
{% endblock %}
