{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<body>
    <section id="sobre">
        <h1>Sobre Mim</h1>
        <p>Coloque aqui informações sobre você e suas habilidades.</p>
    </section>
    <section id="projetos">
        <h1>Projetos</h1>
        <p>Mostre aqui alguns de seus projetos e trabalhos realizados.</p>
    </section>
    <section id="contato">
        <h1>Contato</h1>
        <p>Deixe seus contatos aqui para que as pessoas possam entrar em contato com você.</p>
    </section>
</body>
{% endblock %}
