{% extends 'base.html' %}
{% block content %}
<body>
    <section class=".container-fluid">
        <h1>Aulas</h1>
        
        <div class="conteudo2 .container-fluid">
            <div class=".container-fluid">
                <iframe width="560%" height="315" src="https://www.youtube.com/embed/Szcbi_qgmiA" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
                Na aula de introdução ao Flask e ambiente de desenvolvimento, você aprenderá os conceitos básicos do framework web Flask e como configurar um ambiente de desenvolvimento para criar aplicativos web. Vamos explorar as principais características do Flask, incluindo a criação de rotas, templates e interações com o banco de dados.
                <div class="card-text" id="descricao1" class="collapse">
                    Você também aprenderá a configurar um ambiente virtual para isolar suas dependências e garantir a portabilidade do seu projeto. Esta aula é o ponto de partida para explorar todo o potencial do Flask na criação de aplicativos web poderosos e flexíveis.
                </div>
                {% if 'email' in session %}
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#descricao1">Ver mais</button>
                {% else %}
                    <a class="btn btn-primary" href="{{ url_for('login') }}">Ver mais</a>  
                {% endif %}
            </div>
        </div>

        <div class="conteudo2">
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/R-Wb5oLrMVQ" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
                Na aula de Conceitos Fundamentais do Flask, vamos aprofundar nosso entendimento sobre os principais pilares do framework Flask. Exploraremos tópicos como rotas dinâmicas para lidar com diferentes URLs e parâmetros, templates para renderizar conteúdo dinâmico nas páginas web e a estruturação de um aplicativo em módulos.
                <div id="descricao2" class="collapse">
                    Você aprenderá a criar views, lidar com solicitações de formulários e utilizar a Jinja2 para renderizar dados dinâmicos nos templates. Com uma compreensão sólida desses conceitos, você estará pronto para construir aplicativos web mais complexos e interativos com o Flask.
                </div>
                {% if 'email' in session %}
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#descricao2">Ver mais</button>
                {% else %}
                    <a class="btn btn-primary" href="{{ url_for('login') }}">Ver mais</a>
                {% endif %}
            </div>
        </div>

        <div class="conteudo2">
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ChdIAY3XRQE" frameborder="0" allowfullscreen></iframe>
            </div>
            <div>
                Na aula de Manipulação de Usuário, exploraremos como lidar com a autenticação e a manipulação de informações de usuário em aplicativos Flask. Você aprenderá a criar um sistema de registro e login de usuário, utilizando técnicas de criptografia de senha para garantir a segurança das informações.
                
                <div id="descricao3" class="collapse">
                    Vamos abordar a criação de páginas de perfil de usuário, permitindo que os usuários atualizem suas informações e visualizem seu histórico de atividades. Além disso, você aprenderá a implementar funcionalidades como recuperação de senha e controle de acesso baseado em permissões. Esta aula é essencial para criar aplicativos web seguros e amigáveis para os usuários.
                </div>
                {% if 'email' in session %}
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#descricao3">Ver mais</button>
                {% else %}
                    <a class="btn btn-primary" href="{{ url_for('login') }}">Ver mais</a>
                {% endif %}
            </div>
        </div>
    </section>
</body>
{% endblock %}
