{% extends 'base.html' %}

{% block conteudo %}
<main class="main-base">

    <article class="article-main historia">
        <h1>Nossa História</h1>
        <p>
            Tudo começa no dia 13/06/2023, que representa o marco inicial de nossa jornada rumo à ecoeficiência e
            sustentabilidade. Através de um programa de bolsas para o curso de Programador de Sistemas oferecido
            pelo Senac – RN em Natal, no bairro do Alecrim, recebemos a missão de desenvolver o Projeto Integrador
            com o Tema Norteador: Tecnologia para Sustentabilidade: Soluções Inovadoras para um Futuro Responsável.
            Desafio apresentado e analisando as possibilidades, encontramos um nicho de mercado pouco explorado e
            com alto impacto ambiental para a natureza chamado “lixo doméstico”. Diante disso e baseados nas
            melhores práticas ambientais, resolvemos criar um produto que envolve também o usuário doméstico na
            cadeia de reciclagem, bem como as empresas de um modo geral. Assim nasceu a “ECOLINK”, uma empresa
            determinada a diminuir o impacto ambiental em toda a cadeia de resíduos, criando a destinação correta
            para diversos tipos de materiais que prejudicam o meio ambiente.
        </p>
    </article>

    <article class="article-main missao">
        <h1>Missão</h1>
        <p>
            Contribuir, usando a tecnologia, com os esforços de preservação do meio ambiente, reduzindo a geração
            de resíduos sem destinação adequada, gerando assim ecoeficiência em toda cadeia de reciclagem.
        </p>
    </article>

    <article class="article-main valores">
        <h1>Valores</h1>
        <ul>
            <li>Sustentabilidade Social e Econômica</li>
            <li>Meio Ambiente Limpo</li>
            <li>Tecnologias Renováveis</li>
            <li>Ecoeficiência</li>
        </ul>
    </article>

    <article class="article-main visao">
        <h1>Visão</h1>
        <p>
            Participar do processo de reestruturação econômica e social aplicando os conceitos de sustentabilidade,
            gerando assim padrões de eficiência e competividade junto aos parceiros de negócios.
        </p>
    </article>





    {% endblock %}