{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<body>
    <section id="sobre">
        <h1>Sobre Mim</h1>
        <img class="profile-pic" src="caminho/para/sua/foto.jpg" alt="Sua Foto">
        <p>
            Olá! Meu nome é [Seu Nome], sou um [sua profissão ou área de atuação] com [número de anos] de experiência.
            Coloque aqui informações relevantes sobre você, como suas habilidades, conquistas, e o que o torna único no seu campo de atuação.
        </p>
    </section>
    <section id="projetos">
        <!-- Conteúdo da seção "Projetos" (você pode adicionar informações sobre seus projetos aqui) -->
    </section>
    <section id="contato">
        <!-- Conteúdo da seção "Contato" (você pode adicionar informações de contato aqui) -->
    </section>
</body>
{% endblock %}